bady{

}
.bg_1{
    background-image: url(../d10370117/images/sky1.jpg);
}
.bg_2{
    background-image: url(../d10370117/images/sky2.jpg);
}
.bg_3{
    background-image: url(../d10370117/images/sky3.jpg);
}
.bg_4{
    background-image: url(../d10370117/images/sky4.jpg);
}
.color_1{
    background-color: aqua;
}
.color_2{
    background-color: rgb(156, 76, 22);
}
.color_3{
    background-color: rgb(212, 0, 255);
}
html.bady{
    min-height: 100%;
}
.fixed_bg, .infos{
    position: relative;
    height: 100%;
}
.fixed_bg{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    
}
